<%- include('../partials/header') %>

    <div class="section padding-page-top padding-bottom over-hide background-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-12 section-title-wrap text-center parallax-fade-top">
                    <p>“I'm an Epicurean hedonist. The meaning of life is to enjoy my life.”</p>
                    <h1>Cocktail<br>lounge</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section padding-bottom over-hide background-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="portfolio-filter" class="portfolio-filter">
                        <!-- <ul id="filter">
                    <li><a href="#" class="current cursor-link" data-filter="*" title="">all</a></li>
                    <li><a href="#" class="cursor-link" data-filter=".branding" title="">alcoholic</a></li>
                    <li><a href="#" class="cursor-link" data-filter=".photo" title="">tea</a></li>
                    <li><a href="#" class="cursor-link" data-filter=".motion" title="">coffee</a></li>
                </ul> -->
                    </div>
                </div>
            </div>
        </div>

        <div id="projects-grid">
            <% cocktails.forEach(function(c) { %>
                <a href="/cocktails/<%= c._id %>" class="cursor-link animsition-link tipped" data-title="<%= c.label %>"
                    data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                    <div class="portfolio-box photo">
                        <img src="<%= c.photo %>" alt="">
                        <div class="portfolio-mask"></div>
                    </div>
                </a>
                <% }) %>

        </div>
    </div>
    <%- include('../partials/footer') %>